= form_for @topic do |f|
  - if @topic.errors.any?
    #error_explanation
      %h2= "#{pluralize(@topic.errors.count, "error")} prohibited this topic from being saved:"
      %ul
        - @topic.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :title
    = f.text_field :title
  .field
<<<<<<< HEAD
    = f.label :body
    = f.text_area :body
=======
    = f.label :url
    = f.text_field :url
>>>>>>> a5d0d164b69b74a6b48327d5fc3f099d774a13e3
  .actions
    = f.submit 'Save'
