%p#notice= notice

%p
  %b Title:
  = @topic.title
%p
<<<<<<< HEAD
  %b Body:
  = @topic.body
=======
  %b Url:
  = @topic.url
>>>>>>> a5d0d164b69b74a6b48327d5fc3f099d774a13e3

= link_to 'Edit', edit_topic_path(@topic)
\|
= link_to 'Back', topics_path
